.tab-content {
  display: contents;
}

.menu {
  overflow: hidden;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.329);
  width: 100%;
  z-index: -3;
  position: absolute;
  display: none;

  .menuContent {
    padding: 20px;
    padding-top: 115px;
    transition: 0.4s ease-in-out;
    background-color: var(--main-bg-clr);
    box-shadow: 0 0 10px black;
    animation: showMenu 0.4s ease-in-out;
    li {
      list-style: none;
    }
  }
}

@keyframes showMenu {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.colsContainer {
  animation: showMenuItems 0.5s ease-in-out;
  padding: 10px 0;
}

.colsContainer .col ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.colsContainer .col ul li {
  font-weight: 500;
  font-family: "chillax", sans-serif;
  font-size: 0.9rem;
}

.colsContainer .col ul li a {
  text-decoration: none;
  color: inherit;
}

.colsContainer .col ul li a:hover {
  opacity: 0.6;
}

.navTitle {
  background-color: var(--menu-title-clr);
  height: 50px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "chillax", sans-serif;
  font-weight: 600;
  font-size: 0.85rem;
  animation: fadeTitle 0.3s ease;
}

@keyframes showMenuItems {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeTitle {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
